/* page */
body {
  font-family: sans-serif;
}
table td {
  padding: 0.2em 0.5em;
}
#page {
  padding: 1em;
}
#container {
  margin: 2em 0;
}
.section {
  display: inline-block;
  vertical-align: middle;
  margin: 0.5em;
}

/* controls */
.controls table {
  border-collapse: collapse;
  border: none;
}
.controls thead {
  font-weight: bold;
  border-bottom-width: 1px;
}
.controls thead .fa {
  padding: 0 0 0 0.5em
}
.controls thead td:hover,
.controls tbody tr:hover {
  color: gray;
  cursor: pointer;
}
.controls table .selected {
  background-color: rgb(0, 255, 0);
  background-color: rgba(0, 255, 0, 0.5);
}
