body {
  font-family: sans-serif;
}
table td {
  padding: 0.2em 0.5em;
}
#page {
  padding: 1em;
}
#container {
  margin: 2em 0;
}
.section {
  display: inline-block;
  vertical-align: middle;
  margin: 0.5em;
}
